<header class="header">
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item <%= url === '/' && 'active' %>"><a href="/">Home</a></li>
            <li class="header__nav-item <%= url === 'admin/users' && 'active' %>"><a href="/admin/users">Users</a></li>
        </ul>
    </nav>
</header>