<%- include('includes/head.ejs') %>
</head>

<body>
<%- include('includes/navigation.ejs') %>
    <main class="main">
        <h1 class="main__h1">Not Found Page!</h1>
    </main>

<%- include('includes/end.ejs') %>